services:
  nacos:
    image: qingpan/rnacos:v0.7.10-alpine
    container_name: rnacos
    ports:
      - "8848:8848"
      - "9848:9848"
      - "10848:10848"
    restart: unless-stopped
    volumes:
      - nacos-volume:/io:rw
    networks:
      - nacos-network
    environment:
      - RNACOS_INIT_ADMIN_USERNAME=admin
      - RNACOS_INIT_ADMIN_PASSWORD=admin
      - RNACOS_HTTP_PORT=8848
    extra_hosts:
      - host.docker.internal:host-gateway
volumes:
  nacos-volume:
    external: true
networks:
  nacos-network:
    external: false
