version: "3"
services:
  redis:
    image: redis:8.0.6-alpine3.21
    container_name: redis
    ports:
      - 6379:6379
    restart: unless-stopped
    volumes:
      - ./redis-data:/data/redis
    networks:
      - redis-network
    extra_hosts:
      - host.docker.interanl:host-gateway

networks:
  redis-network:
    external: false
